In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datasist as ds
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('max_colwidth', 1000)

In [2]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")
riders = pd.read_csv("Riders.csv")
sample = pd.read_csv("SampleSubmission.csv")
datadef = pd.read_csv("VariableDefinitions.csv")

In [3]:
train.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [4]:
train.describe()

,Platform Type,Placement - Day of Month,Placement - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Pickup - Day of Month,Pickup - Weekday (Mo = 1),Arrival at Destination - Day of Month,Arrival at Destination - Weekday (Mo = 1),Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Time from Pickup to Arrival
count,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000,16835.000000,552.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201.000000
mean,2.752182,15.653696,3.240083,15.653837,3.240225,15.653837,3.240225,15.653837,3.240225,15.653837,3.240225,9.506533,23.258889,7.905797,-1.281470,36.811264,-1.282581,36.811220,1556.920947
std,0.625178,8.798916,1.567295,8.798886,1.567228,8.798886,1.567228,8.798886,1.567228,8.798886,1.567228,5.668963,3.615768,17.089971,0.030507,0.037473,0.034824,0.044721,987.270788
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.200000,0.100000,-1.438302,36.653621,-1.430298,36.606594,1.000000
25%,3.000000,8.000000,2.000000,8.000000,2.000000,8.000000,2.000000,8.000000,2.000000,8.000000,2.000000,5.000000,20.600000,1.075000,-1.300921,36.784605,-1.301201,36.785661,882.000000
50%,3.000000,15.000000,3.000000,15.000000,3.000000,15.000000,3.000000,15.000000,3.000000,15.000000,3.000000,8.000000,23.500000,2.900000,-1.279395,36.807040,-1.284382,36.808002,1369.000000
75%,3.000000,23.000000,5.000000,23.000000,5.000000,23.000000,5.000000,23.000000,5.000000,23.000000,5.000000,13.000000,26.000000,4.900000,-1.257147,36.829741,-1.261177,36.829477,2040.000000
max,4.000000,31.000000,7.000000,31.000000,7.000000,31.000000,7.000000,31.000000,7.000000,31.000000,7.000000,49.000000,32.100000,99.100000,-1.147170,36.991046,-1.030225,37.016779,7883.000000

In [5]:
test.describe()

,Platform Type,Placement - Day of Month,Placement - Weekday (Mo = 1),Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Pickup - Day of Month,Pickup - Weekday (Mo = 1),Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long
count,7068.000000,7068.000000,7068.000000,7068.000000,7068.000000,7068.000000,7068.000000,7068.000000,7068.000000,7068.000000,5631.000000,199.000000,7068.000000,7068.000000,7068.000000,7068.000000
mean,2.752122,15.621817,3.249859,15.621817,3.249859,15.621817,3.249859,15.621817,3.249859,9.458970,23.246120,6.651759,-1.282043,36.811148,-1.282255,36.811326
std,0.624000,8.776650,1.580926,8.776650,1.580926,8.776650,1.580926,8.776650,1.580926,5.575689,3.591161,14.085439,0.030044,0.037962,0.034236,0.043507
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,13.200000,0.100000,-1.433512,36.653828,-1.422652,36.639195
25%,3.000000,8.000000,2.000000,8.000000,2.000000,8.000000,2.000000,8.000000,2.000000,5.000000,20.600000,1.100000,-1.301201,36.784605,-1.300921,36.786546
50%,3.000000,15.000000,3.000000,15.000000,3.000000,15.000000,3.000000,15.000000,3.000000,8.000000,23.400000,2.900000,-1.281301,36.807219,-1.283219,36.807927
75%,3.000000,23.000000,5.000000,23.000000,5.000000,23.000000,5.000000,23.000000,5.000000,13.000000,25.900000,4.950000,-1.257274,36.829716,-1.261256,36.828195
max,4.000000,31.000000,7.000000,31.000000,7.000000,31.000000,7.000000,31.000000,7.000000,47.000000,32.100000,99.100000,-1.148352,36.991046,-1.030225,37.018958

In [6]:
train.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival'],
      dtype='object')

In [7]:
test.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Distance (KM)', 'Temperature', 'Precipitation in millimeters',
       'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long',
       'Rider Id'],
      dtype='object')

In [8]:
#Drop
col_2_drop = ['Arrival at Destination - Day of Month', 'Arrival at Destination - Weekday (Mo = 1)']
train.drop(col_2_drop, axis=1, inplace=True)

In [9]:
#Merge riders dataset to train and test datasets
train_merged = train.merge(riders, how='left', on='Rider Id')
test_merged = test.merge(riders, how='left', on='Rider Id')

In [10]:
ds.feature_engineering.drop_redundant(train_merged)
ds.feature_engineering.drop_redundant(test_merged)

Dropped ['Vehicle Type']
Dropped ['Vehicle Type']

In [11]:
ds.feature_engineering.drop_missing(train_merged, percent=80)
ds.feature_engineering.drop_missing(test_merged, percent=80)

Dropped ['Precipitation in millimeters']
Dropped ['Precipitation in millimeters']

In [12]:
#Get columns
cat_cols = ds.structdata.get_cat_feats(train_merged)
num_cols = ds.structdata.get_num_feats(train_merged)

time_cols = ['Pickup - Time', 'Arrival at Pickup - Time', 
             'Confirmation - Time', 'Placement - Time', 'Arrival at Destination - Time']

In [13]:
train_merged.drop(columns=['Order No', 'User Id'], inplace=True)
test_merged.drop(columns=['Order No', 'User Id'], inplace=True)

In [14]:
train_merged.head()

,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Confirmation - Time,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),...,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,3,Business,9,5,9:35:46 AM,9,5,9:40:10 AM,9,5,...,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,1637,1309,13.8,549
1,3,Personal,12,5,11:16:16 AM,12,5,11:23:21 AM,12,5,...,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,396,339,13.6,69
2,3,Business,30,2,12:39:25 PM,30,2,12:42:44 PM,30,2,...,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,1023,242,12.5,114
3,3,Business,15,5,9:25:34 AM,15,5,9:26:05 AM,15,5,...,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,886,283,14.5,113
4,1,Personal,13,1,9:55:18 AM,13,1,9:56:18 AM,13,1,...,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,2311,872,14.1,533

In [15]:
train_merged['Arrival at Destination - Time'].head()

0    10:39:55 AM
1    12:17:22 PM
2     1:00:38 PM
3    10:05:27 AM
4    10:25:37 AM
Name: Arrival at Destination - Time, dtype: object

In [ ]:
#get hours, minute and seconds from time columns
cols = time_cols
train_merged = ds.timeseries.extract_time(data=train_merged, time_cols=cols)
test_merged = ds.timeseries.extract_time(data=test_merged, time_cols=cols)

In [30]:
train_merged.head()

,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Confirmation - Time,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),...,Average_Rating,No_of_Ratings,Time from Placement to Arrival,Time from Confirmation to Arrival,Time from Arrival Pickup to Arrival,Time From Placement to Confirmation,Time From Placement to Arrival at Pickup,Time From Placement to Pickup,Time From Arrival Pickup to Pickup,Time From Confirmation to Arrival Pickup
0,3,Business,9,5,2019-11-21 09:35:46,9,5,2019-11-21 09:40:10,9,5,...,13.8,549,3849.0,3585.0,2108.0,264.0,1741.0,3104.0,1363.0,1477.0
1,3,Personal,12,5,2019-11-21 11:16:16,12,5,2019-11-21 11:23:21,12,5,...,13.6,69,3666.0,3241.0,2220.0,425.0,1446.0,1673.0,227.0,1021.0
2,3,Business,30,2,2019-11-21 12:39:25,30,2,2019-11-21 12:42:44,30,2,...,12.5,114,1273.0,1074.0,664.0,199.0,609.0,818.0,209.0,410.0
3,3,Business,15,5,2019-11-21 09:25:34,15,5,2019-11-21 09:26:05,15,5,...,14.5,113,2393.0,2362.0,1651.0,31.0,742.0,1052.0,310.0,711.0
4,1,Personal,13,1,2019-11-21 09:55:18,13,1,2019-11-21 09:56:18,13,1,...,14.1,533,1819.0,1759.0,1304.0,60.0,515.0,605.0,90.0,455.0

In [31]:
test_merged.head()

,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Confirmation - Time,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),...,Rider Id,No_Of_Orders,Age,Average_Rating,No_of_Ratings,Time From Placement to Confirmation,Time From Placement to Arrival at Pickup,Time From Placement to Pickup,Time From Arrival Pickup to Pickup,Time From Confirmation to Arrival Pickup
0,3,Business,27,3,2019-11-21 16:44:10,27,3,2019-11-21 16:44:29,27,3,...,Rider_Id_192,439,1511,13.3,171,19.0,534.0,1357.0,823.0,515.0
1,3,Business,17,5,2019-11-21 12:57:35,17,5,2019-11-21 12:59:17,17,5,...,Rider_Id_868,488,273,14.4,45,102.0,1372.0,1682.0,310.0,1270.0
2,3,Business,27,4,2019-11-21 11:08:14,27,4,2019-11-21 11:25:05,27,4,...,Rider_Id_26,833,460,13.1,67,1011.0,1506.0,2980.0,1474.0,495.0
3,3,Business,17,1,2019-11-21 13:51:35,17,1,2019-11-21 13:53:27,17,1,...,Rider_Id_685,487,560,13.7,44,112.0,666.0,1517.0,851.0,554.0
4,3,Business,11,2,2019-11-21 11:30:28,11,2,2019-11-21 11:34:45,11,2,...,Rider_Id_858,4761,1120,14.1,1010,257.0,1011.0,1536.0,525.0,754.0